@inject IJobApplicationRepository JobApplicationRepo
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime JS

<Card Class="shadow-sm">
    <CardBody>
        <div class="row">
            <div class="col-10">
                <CardTitle>@JobPost.Title</CardTitle>
            </div>
            <div class="col-2 text-end">
                @if (!string.IsNullOrEmpty(JobApplication?.ApplicationStatus))
                {
                    <Badge Color="BadgeColor.Light"
                           VisuallyHiddenText="Application Status">
                        @JobApplication.ApplicationStatus
                    </Badge>
                }
            </div>
        </div>

        <CardText Class="text-truncate-two">@JobPost.Description</CardText>
        <br />
        <div class="row">
            <div class="col-8 d-flex align-items-end">
                <Badge Color="BadgeColor.Secondary" VisuallyHiddenText="WorkArrangement"><i class="bi bi-geo-alt-fill"></i> @JobPost.Location</Badge>
                &nbsp;
                <Badge Color="BadgeColor.Warning" VisuallyHiddenText="WorkArrangement">@JobPost.WorkArrangement</Badge>
                &nbsp;
                <Badge Color="BadgeColor.Warning" VisuallyHiddenText="JobType">@JobPost.JobType</Badge>
            </div>
            <div class="col-4 text-end">
                <Button Type="ButtonType.Button" Color="ButtonColor.Dark"
                        @onclick='() => OpenInNewTab($"/Job/Details/{JobPost.Id}")'>
                    Details <Icon Name="IconName.BoxArrowUpRight" />
                </Button>
            </div>
        </div>
    </CardBody>
    <CardFooter>
        <small class="text-muted bold">@($"{TimeSincePublished()} by ")<span class="fw-bold">@JobPost.ApplicationUser?.Email</span></small>
    </CardFooter>
</Card>

@code {
    [Parameter]
    public required JobPost JobPost { get; set; }

    private JobApplication? JobApplication { get; set; } = default!;
    private string? userId;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            AuthenticationState authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            userId = authenticationState.User.FindFirst(ClaimTypes.NameIdentifier)?.Value;

            JobApplication = await JobApplicationRepo.GetAsync(f => f.JobPostID == JobPost.Id && f.UserID == userId);
            StateHasChanged();
        }
    }

    private string TimeSincePublished()
    {
        string text = "";
        // Calculate the time difference from last updated
        var timeSpan = DateTime.Now - JobPost.PostedAt;

        if (timeSpan.TotalMinutes < 1)
        {
            text = "just now";
        }
        else if (timeSpan.TotalMinutes < 60)
        {
            text = $"{(int)timeSpan.TotalMinutes} mins ago";
        }
        else if (timeSpan.TotalHours < 24)
        {
            text = $"{(int)timeSpan.TotalHours} hours ago";
        }
        else if (timeSpan.TotalDays < 30)
        {
            text = $"{(int)timeSpan.TotalDays} days ago";
        }
        else if (timeSpan.TotalDays < 365)
        {
            text = $"{(int)timeSpan.TotalDays / 30} Months ago";
        }
        else
        {
            text = $"{(int)timeSpan.TotalDays / 365} years ago";
        }
        return text;
    }

    private async Task OpenInNewTab(string url)
    {
        await JS.InvokeVoidAsync("openInNewTab", url);
    }
}
